body {

    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, teal, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.controls {
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #f8f4f4;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #fefcfc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}